

/* Ocultar conteúdo principal inicialmente */
#conteudo-principal {
    display: none;
}
/* Estilos gerais */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body {
    line-height: 1.6;
    color: #333;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav button:hover {
    background-color: #003d80;
}

/* Telas */
.tela {
    padding: 20px;
}

/* Produtos e Carrinho */
.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.produto, .item-carrinho {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: 200px;
    border-radius: 8px;
}

.produto img, .item-carrinho img {
    max-width: 100%;
    border-radius: 8px;
}

.produto button, .item-carrinho button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produto button:hover, .item-carrinho button:hover {
    background-color: #0056b3;
}

/* Carrinho */
#resumo-carrinho {
    margin-top: 20px;
    text-align: right;
}
/* Botão Trocar Usuário */
#botao-trocar-usuario {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

#botao-trocar-usuario:hover {
    background-color: #b02a37;
}

/* Tela de Finalização de Compra */
#tela-finalizacao form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

#tela-finalizacao label {
    display: block;
    margin: 10px 0 5px;
}

#tela-finalizacao input[type="text"],
#tela-finalizacao input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#tela-finalizacao button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#tela-finalizacao button:hover {
    background-color: #218838;
}

/* Estilos para a tela de compras */
#tela-compras {
    text-align: left;
}

.produto-compra {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.produto-compra img {
    margin-right: 15px;
}

.produto-compra h3 {
    margin: 0 0 5px;
}

.produto-compra button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produto-compra button:hover {
    background-color: #0056b3;
}
